*{
    margin:0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns:  150px 150px 150px 100px;
    grid-template-rows: 100px 100px 100px 150px  100px;
    grid-template-areas:
    "header header header header"
    "smallbox1 smallbox2 smallbox3 sidebar"
    "smallbox1 smallbox2 smallbox3 sidebar"
    "maincontent maincontent maincontent sidebar"
    "footer footer footer footer";
    gap: 10px;
    justify-content: center;
    margin-top: 200px;
    height: 100vh;
  
   

}
.content{
    background-color:#0969DA;
    /* border: 2px solid black; */
    color:white;
    
}

.content1{
    background-color: #0969DA;
    grid-area: header;
    padding: 10px;
}
.content2{
    background-color: #0969DA;
    grid-area: footer;
    padding: 10px;
}
.content3{
    background-color: #0969DA;
    grid-area: smallbox1;
    padding: 10px;
}
.content4{
    background-color: #0969DA;
    grid-area: smallbox2;
    padding: 10px;
}
.content5{
    background-color: #0969DA;
    grid-area: smallbox3;
    padding: 10px;
}
.content6{
    background-color: #0969DA;
    grid-area: sidebar;
    padding: 10px;
}
.content7{
    background-color: #0969DA;
    grid-area: maincontent;
    padding: 10px;
}