body {
  margin: 0;
  padding: 0;
  background: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
  background-size: cover;
}

.box {
  width: 450px;
  background:url(img/e-1.png) ;
  background-repeat:no-repeat;
  background-size: cover;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 7%;
  color: white;
  font-family: sans-serif;
}
.box img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
 

}
.box img:hover {
  transform: scale(0.9);
}
.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5 {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
}
.box p {
  text-align: justify;
}
ul {
  margin: 0;
  padding: 0;
}
.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;


}
.box li a{
    color: white;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: #b9b9b9;
}